@model ICollection<UserAccountViewModel>

@{
    ViewData["Title"] = "User";
}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="lib\lightbox2-dev\dist\js\lightbox.js"></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="~/css/shrift1.css">
<link rel="stylesheet" type="text/css" href="~/css/shrift2.css">


<style>
    body {
        background: #fef7af
    }

    .stroke {
        text-shadow: black 3px 3px 0, black -3px -3px 0, black -3px 3px 0, black 3px -3px 0;
    }
</style>

<title>Личный кабинет</title>

<body>

    <div class="container text-center">

<div class="text-center">
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <h1 class="display-4">@item.FullName</h1>
                        
            <p></p>
                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="text-left, display-4">Мои отзывы</h2>
            @if (item.Comments.Count != 0)
            {
                @foreach (var c in @item.Comments)
                {
                                        <h5 class="text-left">Ресторан @c.Restaurant.RestaurantName </h5>
                                        <p class="text-left">Дата отзыва: @c.DateComment </p>
                                        <p class="text-left">Оценка: @c.Point </p>
                                        <p class="text-left">Комментарий: @c.DataComment</p>
                }
            }
            else
            {
                                    <p class="text-left">Вы пока не оставили ни одного отзыва</p>
            }
                            </div>
                            <div class="col-md-6">
                                <h2 class="text-md-right, display-4">Бронирование</h2>
            @if (item.Reservations.Count != 0)
            {
                @foreach (var r in @item.Reservations)
                {
                                        <h5 class="text-md-right">@r.Restaurant.RestaurantName </h5>
                                        <p class="text-md-right">@r.NumberReservation </p>
                                        <p class="text-md-right">Дата создания брони @r.DateReservation </p>
                                        <p class="text-md-right">Время брони @r.TimeReservation</p>
                                        <p class="text-md-right">Столик № @r.TableRestaurant.NumberTable</p>
                }
            }
            else
            {
                                    <p class="text-md-right">Вы пока не забронировали ни одного столика</p>
            }
                            </div>

                        </div>

                            
        }
    }
</div>
        </div>
</body>