@model ICollection<RestaurantViewModel>

@{
    ViewData["Title"] = "Restaurant";
}

<div class="text-center">
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <h1 class="display-4">@item.Name</h1>
            <p> @item.Address </p>
            <p> @item.Description </p>
            <p> @item.Email </p>
            <p> @item.Phone </p>
            <p></p>
            <p> @item.Dish </p>
        }
    }
</div>